.header {
}

.navigation {
  &__item--white {
    color: $white;
  }
  &__item--white:nth-child(even) &__link::after {
    background-image: url("../images/drop-arrow-white.svg");
  }
}

.lang-switcher--white {
  &::after {
    background-image: url("../images/drop-arrow-white.svg");
  }
  color: $white;
}
.container.cardio-info__container {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 395px;
    height: 100%;
    background-image: url("../images/cardio-info-before.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 100%;
    background-image: url("../images/cardio-info-after.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.cardio-info {
  position: relative;
  background-color: $blue;
  color: $white;
  font-weight: 600;
  line-height: 1.71;

  &__inner {
    max-width: 635px;
    margin: 0 auto;
    padding: 74px 57px 74px 50px;
    background-color: rgba($white, 0.1);
  }
  &__title {
    font-size: 14px;
  }
  &__text {
    margin-top: 30px;
  }
  &__list {
    padding-left: 15px;
  }
}

.price-list {
  &__inner--no-pseudo {
    &::before,
    &::after {
      display: none;
    }
  }
  &__wrapper--margins {
    margin-bottom: 0;
  }
}

.why {
  background-color: $blue;
  &__inner {
    padding-bottom: 70px;
    padding-top: 70px;
  }
  &__title {
    @extend %title;
    color: $white;
    margin-bottom: 50px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
  }
  &__item {
    text-align: center;
    &:nth-child(odd) {
      max-width: 246px;
    }
    &:nth-child(even) {
      max-width: 241px;
    }
  }
  &__image {
    margin: 0 auto 30px;
  }
  &__cause {
    color: $white;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.245;
    margin-bottom: 20px;
  }
  &__text {
    line-height: 1.21;
    color: $white;
  }
}
