.header {
  position: relative;
  z-index: 1;
  &--secondary {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 348px;
    & .header__text--blue {
      max-width: 672px;
    }
  }
  &--cardio {
    background-image: url("../images/cardio-header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    @extend %title;
    @extend %text-max-row;
    color: $white;
    max-width: 672px;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 600;
    line-height: 1.21;
    color: $white;
    margin-bottom: 77px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.menu-box {
  display: flex;
  padding-top: 12px;
}

.navigation {
  a {
    color: inherit;
  }
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 40px;
    font-weight: 500;
    color: $blue;
    cursor: pointer;
  }
  &__item:nth-child(even) {
    position: relative;
  }
  &__item:nth-child(even) &__link {
    padding-right: 12px;
  }
  &__item:nth-child(even) &__link::after {
    @extend %drop-arrow-menu;
    background-image: url("../images/drop-arrow-red.svg");
  }
  &__link {
    padding-bottom: 7px;
  }
  &__drop-menu {
    font-weight: 500;
    position: absolute;
    top: 24px;
    right: -10px;
    width: 210px;

    background-color: $white;
    box-shadow: 0px 4px 40px rgba(34, 74, 164, 0.15);
    transform: translateY(-10px) scale(0);
    transition: transform 0.2s linear;
    transform-origin: top right;
  }

  a[services-btn]:hover + &__drop-menu--services,
  &__drop-menu--services:hover {
    transform: translateY(0) scale(1);
  }
  a[about]:hover + ul[about-list],
  ul[about-list]:hover {
    transform: translateY(0) scale(1);
  }

  &__drop-item {
    font-weight: 500;
    color: $blue;
  }
  &__drop-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 14px;
    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
    }
  }
}
.lang-switcher {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  align-self: baseline;
  cursor: pointer;
  padding-right: 12px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: $blue;
  &::after {
    @extend %drop-arrow-menu;
    top: 35%;
    background-image: url("../images/drop-arrow-red.svg");
  }
  &__drop-menu {
    font-weight: 500;
    position: absolute;
    top: 24px;
    right: -3px;

    background-color: $white;
    box-shadow: 0px 4px 40px rgba(34, 74, 164, 0.15);
    transform: translateY(-10px) scale(0);
    transition: transform 0.2s linear;
    transform-origin: top right;
  }
  &:hover ul[lang-list],
  ul[lang-list]:hover {
    transform: translateY(0) scale(1);
  }
  &__drop-item {
    font-weight: 500;
    color: $blue;
  }
  &__drop-link {
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 14px;

    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
    }
  }
}
.visibility {
  display: block;
}
