.hero {
  position: relative;
  min-height: 800px;
  margin: -65px auto 0;
  overflow-x: hidden;

  &__content {
    max-width: 450px;
    padding-top: 200px;

    display: flex;
    flex-direction: column;
    &--left {
      position: relative;
      z-index: 1;
      margin-right: 100px;
      margin-left: auto;
      align-items: flex-end;
      color: $white;
      text-align: end;
    }
    &--right {
      margin-left: 100px;
      margin-right: auto;
      color: $blue;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 1.29;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 329px;
    font-weight: 600;
    margin-bottom: 30px;

    line-height: 1.21;
    &--right {
      max-width: 250px;
    }
  }

  &__services-list {
    max-width: 300px;
    margin-bottom: 90px;
  }
  &__services-item {
    position: relative;
    &::before {
      content: "";

      position: absolute;
      top: 50%;

      width: 6px;
      height: 6px;

      background-repeat: no-repeat;

      transform: translateY(-50%);
    }

    &--left {
      padding-right: 18px;

      &::before {
        right: 0;
        background-image: url("../images/left-hero-circle.svg");
      }
    }
    &--right {
      padding-left: 18px;
      max-width: 274px;
      &::before {
        left: 0;
        background-image: url("../images/right-hero-circle.svg");
      }
    }
    & + & {
      margin-top: 12px;
    }
  }
  &__link {
    @extend %btn-border;
    border: 1px solid currentColor;
  }
}

.hero-wrapper {
  width: calc(100vw - 17px);

  background: rgb(233, 82, 88);
  background: linear-gradient(
    90deg,
    rgba(233, 82, 88, 1) 50%,
    rgba(249, 249, 249, 1) 50%
  );
  min-height: 800px;
  display: flex;
  margin: 0 auto;
}

.hero__left {
  position: relative;
  width: 100%;
  background-color: $red;
  transition: transform 0.3s linear;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0vw;
    width: 395px;
    height: 557px;
    background-image: url("../images/left-hero.png");
    background-repeat: no-repeat;
    transition: transform 0.3s linear;
  }

  &:hover {
    transform: translateX(80px);

    &::before {
      transform: translateX(-80px);
    }
  }
  &--move-left {
    transform: translateX(-80px);
  }
}

.hero__right {
  position: relative;
  width: 100%;
  background-color: $white;
  transition: transform 0.3s linear;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0vw;
    width: 487px;
    height: 488px;
    background-image: url("../images/right-hero.png");
    background-repeat: no-repeat;
    transition: transform 0.3s linear;
    transform: translateX(95px);
  }
  .hero__left:hover + & {
    transform: translateX(80px);
  }
  &:hover {
    transform: translateX(-80px);
  }
}
