.news {
  background-color: $white;
  &__inner {
    padding: 70px 0 40px;
  }
  &__title {
    @extend %title;
    color: $blue;
    margin-bottom: 20px;
  }
  &__button-box {
    margin-bottom: 50px;
  }
  &__radio-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__label {
    position: relative;
    font-weight: 500;
    color: #8093ac;
    line-height: 1.21;
    cursor: pointer;
    & + & {
      margin-left: 40px;
    }
  }

  &__radio-button--all:checked ~ &__label--all::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $red;
  }
  &__radio-button--news:checked ~ &__label--news::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $red;
  }
  &__radio-button--advice:checked ~ &__label--advice::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $red;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
  }
  &__item {
    position: relative;
    max-width: 281px;
  }
  &__img {
    position: relative;
    max-width: 281px;
    object-fit: cover;
  }
  &__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: red;
    z-index: 1;
    background-color: rgba($blue, 0.2);
  }
  &__content {
    position: absolute;
    bottom: 0;
    background-color: $red;
    color: $white;
    padding: 20px;
    z-index: 2;
  }
  &__name {
    font-weight: 800;
  }
  &__text {
    margin: 20px 0;
  }
  &__link {
    font-weight: 500;
    color: $white;
  }
  &__link-box {
    text-align: center;
  }
  &__link-more {
    @extend %btn-border;
    color: $blue;
  }
}
