.price-list {
  &__title {
    margin-top: 70px;
    margin-bottom: 20px;
    @extend %title;
    color: $blue;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    flex-grow: 1;
    & + & {
      margin-left: 78px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 500;
    color: $blue;
  }
  &__price {
    padding-right: 14px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
    & + & {
      margin-top: 20px;
    }
  }
  &__service-name {
    color: #8093ac;
  }
  &__service-price {
    color: $blue;
  }

  &__link {
    @extend %btn-border;

    color: $blue;
  }
  &__link-box {
    margin: 40px 0;
    text-align: center;
  }
}
