.specialists {
  background-color: $white;
  &__inner {
    padding-bottom: 70px;
  }
  &__wrapper {
    background-color: $blue;
  }
  &__title {
    @extend %title;
    color: $white;
    padding-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 69px;
    padding: 40px 0 60px;
  }
  &__item {
    color: $blue;
  }
  &__img {
    width: 98px;
    height: 98px;

    margin-bottom: 30px;

    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    margin-bottom: 10px;

    font-weight: 800;
    font-size: 16px;
    color: $blue;
  }
  &__link-box {
    text-align: center;
  }
  &__link {
    @extend %btn-border;
    color: $blue;
  }
}
