@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
//colors
$blue: #32495e;
$white: #f9f9f9;
$red: #e95258;

//стрелка в навигации
%drop-arrow-menu {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 6px;
}
%btn-border {
  display: inline-block;
  min-width: 160px;

  padding: 16px 43px;
  border: 1px solid currentColor;
  color: inherit;
  font-weight: 500;
  line-height: 1.21;

  border-radius: 25px;
}

%title {
  font-weight: 800;
  font-size: 44px;
  line-height: 1.32;
  text-transform: uppercase;
}

%faq__answer {
  position: relative;
  transform: translateY(0);
  opacity: 1;
}

%faq__label {
  background-color: $red;
  background-image: url("../images/answer-arrow-right.svg");
}

// Не больше 2х строк
%text-max-row {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
