@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

//стрелка в навигации
%drop-arrow-menu {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 6px;
}
%btn-border {
  display: inline-block;
  min-width: 160px;

  padding: 16px 43px;

  color: inherit;
  font-weight: 500;
  line-height: 1.21;

  border-radius: 25px;
}

%title {
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
}
//colors
$blue: #32495e;
$white: #f9f9f9;
$red: #e95258;

//fonts
